body {background-color: #2C5D6F;}

h1 {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

#content-wrapper {
    padding-top   : 25px;
    padding-bottom: 25px;
    margin-top   : 25px;
    margin-bottom: 25px;

    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #3C6D7F;
}

#header {
    height: 30px;
}

#footer {
    height: 30px;
}

#content {
    width: 620px;
}

#canvas-wrapper {
    width : 320px;
    height: 320px;
    padding: 0px;
    margin : 0px;
}
#side-panel {
    height: 320px;
    width : 300px;
    background-color: #4C7D8F;
}
#control-box {
    width : 200px;
}
#rule-box {
    width: 100%;
    padding-bottom: 10px;
}

.flex-container {    
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.vertical {
    flex-direction: column;
}

.well2 {
    width: 620px;
    padding: 10px;
    background-color: #4C7D8F;
    border-radius: 10px;

    border-width : 1px;
    border-style : solid;
    border-color : #000000;
}

.top {
    border-radius: 10px 10px 0px 0px;
}
.middle {
    border-radius: 0px 0px 0px 0px;
    border-top-width    : 0px;
    border-bottom-width : 0px;
}
.bottom {
    border-radius: 0px 0px 10px 10px;
}