
* {
    box-sizing: border-box;
}

/* === tag === */

body {
    background-color: #2C5D6F;
}
h1 {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

/* === named components === */
#content-wrapper {
    padding-top   : 25px;
    padding-bottom: 25px;
    margin-top   : 25px;
    margin-bottom: 25px;

    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #3C6D7F;
}

#content {
    width: 620px;
}

#canvas-wrapper {
    display        : -webkit-flex;
    display        : flex;
    align-items    : center;
    justify-content: center;

    padding: 10px;
    margin : 0px;
}
#side-panel {
    /*height: 320px;*/
    width : 620px;
    background-color: #4C7D8F;
}

/* === well === */
.well {
    width: 620px;
    padding: 10px;
    background-color: #4C7D8F;
    border-radius: 10px;

    border-width : 1px;
    border-style : solid;
    border-color : #000000;
}

/* === flexbox === */
.flex-container {    
    display        : -webkit-flex;
    display        : flex;
    -webkit-align-items    : center;
    -webkit-justify-content: center;
    align-items    : center;
    justify-content: center;

    margin: 0px;
}
.flex-vertical {
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* === border === */
.top {
    border-radius: 10px 10px 0px 0px;
}
.middle {
    border-radius: 0px 0px 0px 0px;
    border-top-width    : 0px;
    border-bottom-width : 0px;
}
.bottom {
    border-radius: 0px 0px 10px 10px;
}